.homePage {
  margin-top: 20px;

  &__content {
    display: inline-block;
    width: 100%; //Sidebar disabled

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__post {
    display: inline-block;
    width: 50%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__sidebar {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 24.5%;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
