.single {
  margin-top: 42px;

  @media screen and (max-width: 1024px) {
    .center {
      padding: 0 25px;
    }
  }

  &__content {
    display: inline-block;
    width: 75%;
    padding-top: 18px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__categoryLink {
    color: $colorBlue;
    font-size: 10px;
    letter-spacing: 0.075em;
    font-family: $fontPopins;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: block;
  }

  &__title {
    font-family: $articleTitleFont;
    font-size: $articleTitleSize;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
    text-align: center;
    display: block;
    margin-bottom: 8px;
  }

  &__date {
    color: $colorGrayMedium;
    font-size: 10px;
    letter-spacing: 0.075em;
    font-family: $fontPopins;
    font-weight: bold;
    text-align: center;
  }

  &__image {
    display: block;
    width: 100%;
    margin-top: 16px;
  }

  &__text {
    color: $articleBodyColor;
    font-size: $articleBodySize;
    line-height: 28px;
    letter-spacing: -0.025em;
    text-rendering:optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin-top: 40px;

    a {
      color: $colorBlue;
    }

    h1, h2, h3, h4, h5 {
      text-transform: uppercase;
      margin-top: 1.2em;
      margin-bottom: 1em;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 1.5;
      -webkit-font-smoothing: initial;
    }
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 20px;
    }

    ul {
      margin: 22px 0;
      line-height: 35px;
    }

    img {
      display: inline-block;
      max-width: 100%;
      margin: 5px 0;
    }
  }

  &__disqus {
    margin: 30px 0;
  }

  &__sidebar {
    width: 24.5%;
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
    }
  }
}