.training-details {
    margin-bottom: 20px;

    .trainig-detail {
        font-family: $fontPopins;

        div:first-child{
            font-weight: 600; 
            text-transform: 
            uppercase; 
            text-align: right;
            
            @media screen and (max-width: 1024px) {
                text-align: left;
            }
        }

        @media screen and (max-width: 1024px) {
            margin-bottom: 5px;
        }        
    }
}