@import 'variables';
@import 'page.scss';
@import 'homePage.scss';
@import 'posts.scss';
@import 'categories';
@import 'tags';

body {
  color: $textColor;
  font-size: $textSize;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $headerColor;
  font-family: $headerFont;
}

.center {
  width: 1170px;
  margin: 0 auto;
}

a {
  color: $textColor;
  font-family: inherit;
}

// Partials
@import 'partials/header';
@import 'partials/menu';