@import 'variables';
@import 'page.scss';
@import 'homePage.scss';
@import 'posts.scss';
@import 'categories';
@import 'tags';

body {
  color: $textColor;
  font-size: $textSize;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $headerColor;
  font-family: $headerFont;
}

// Partials
@import 'partials/header';