{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" 
    method="POST" role="form" onsubmit="sendEmail(event)">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">{{ i18n "yourName" }}</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ i18n "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="subject">{{ i18n "subject" }}</label>
    <input type="text" id="subject" name="subject" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="subject"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="body">{{ i18n "message" }}</label>
    <textarea id="body" name="body" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="body"></textarea>

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="{{ i18n "send" }}" />
    <div id="emailSentConfirmation" style="color:green; display: none;">{{ i18n "emailSentConfirmation" }}</div>
    <div id="emailNotSent" style="color:red; display: none;">{{ i18n "emailNotSent" }}</div>

</form>

<script>
function sendEmail(event){  
  event.preventDefault();

  var name = document.getElementById("name").value;
  var email = document.getElementById("email").value;
  var subject = document.getElementById("subject").value;
  var body = document.getElementById("body").value;
  var url = "https://prod-43.westeurope.logic.azure.com:443/workflows/7614b8d35726447887f0072dbd8ebe47/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=uTKuvon-rO_TKqn0JiVfBEeMMUoveMCjPriCmgDOUyI"

  fetch(url, {
    method : "POST",
    body : JSON.stringify({
      name: name,
      email: email,
      subject: subject,
      body: body
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(emailSent, emailNotSent);
}

function emailSent(){
  document.getElementById("emailSentConfirmation").style.display = "block";
}

function emailNotSent(){
  document.getElementById("emailNotSent").style.display = "block";
}
</script>