<form class="black-80 sans-serif" accept-charset="UTF-8" method="POST" role="form"
  onsubmit="sendEmail(event)">

  <div class="form-group">
    <label for="name">{{ i18n "yourName" }}</label>
    <input type="text" id="name" name="name" class="form-control" required placeholder=" " aria-labelledby="name" />
  </div>

  <div class="form-grou mt-10">
    <label for="email">{{ i18n "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="form-control" required placeholder=" " aria-labelledby="email" />
  </div>

  <div class="form-group mt-10">
    <label for="serviceCategory">{{ i18n "serviceCategory" }}</label>
    <select type="select" id="serviceCategory" name="category" class="form-control" 
      aria-labelledby="serviceCategory" >
      <option>Szkolenia i warsztaty</option>
      <option>Konsultacje</option>
      <option>Ogólne pytanie</option>
    </select>
  </div>
  
  <div class="form-group mt-10">
    <label for="subject">{{ i18n "subject" }}</label>
    <input type="text" id="subject" name="subject" class="form-control" required placeholder=" "
           aria-labelledby="subject" />
  </div>

  <div class="form-group mt-10">
    <label for="body">{{ i18n "message" }}</label>
    <textarea id="body" rows="4" name="body" class="form-control" aria-labelledby="body"></textarea>
  </div>

  <a href="#" onclick="sendEmail(event)" target="_self" class="btn btn-theme-colored2 btn-lg mt-10">{{ i18n "send" }}</a>


  <div id="emailSentConfirmation" style="color:green; display: none;">{{ i18n "emailSentConfirmation" }}</div>
  <div id="emailNotSent" style="color:red; display: none;">{{ i18n "emailNotSent" }}</div>

</form>

<script>
  let params = new URLSearchParams(window.location.search);
  let subject = params.get('subject');
  if(subject){
    subject = "Warszat " + subject;
    document.getElementById("subject").value = subject;
  }
</script>

<script>
  function sendEmail(event) {
    event.preventDefault();

    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var subject = document.getElementById("subject").value;
    var body = document.getElementById("body").value;
    var url = "https://prod-43.westeurope.logic.azure.com:443/workflows/7614b8d35726447887f0072dbd8ebe47/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=uTKuvon-rO_TKqn0JiVfBEeMMUoveMCjPriCmgDOUyI"

    fetch(url, {
      method: "POST",
      body: JSON.stringify({
        name: name,
        email: email,
        subject: subject,
        body: body
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    }).then(emailSent, emailNotSent);
  }

  function emailSent() {
    document.getElementById("emailSentConfirmation").style.display = "block";
  }

  function emailNotSent() {
    document.getElementById("emailNotSent").style.display = "block";
  }
</script>