{{ $numberOfShownTestimonials := .Get "numberOfShownTestimonials" }}
{{ $testimonialsFocus := .Get "testimonialsFocus" }}

<div class="swiper tm-sc-testimonials testimonial-style7-current-theme testimonial-has-quote-icon"
     swiper-slide-per-view="{{$numberOfShownTestimonials}}">
    <div class="swiper-wrapper" >

        <!-- ugly hack with double loop to avoid problem with filtering testimonials -->
        <!-- for some reasons where on Data.testimonials always returned empty map -->
        {{ if $testimonialsFocus}}
            {{ range sort $.Site.Data.testimonials "mainOrder" "desc" }}
                {{if in .focus $testimonialsFocus }}
                    {{ partial "testimonial.html" . }}
                {{end}}
            {{end}}
            {{ range sort $.Site.Data.testimonials "mainOrder" "desc" }}
                {{if not (in .focus $testimonialsFocus) }}
                    {{ partial "testimonial.html" . }}
                {{end}}
            {{end}}
        
        {{else}}
            {{ range sort $.Site.Data.testimonials "mainOrder" "desc" }}
    
            {{ partial "testimonial.html" . }}
        {{end}}
        
        {{end}}
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>