{{ $numberOfShownTestimonials := .Get "numberOfShownTestimonials" }}
{{ $testimonialsFocus := .Get "testimonialsFocus" }}

<div class="tm-sc-testimonials testimonial-style7-current-theme testimonial-has-quote-icon">
    <div class="owl-carousel owl-theme tm-owl-carousel-{{$numberOfShownTestimonials}}col owl-loaded owl-drag" data-nav="true" data-dots="true"
        data-autoplay="false"  data-margin="30"
        data-stagepadding="0">

        <!-- ugly hack with double loop to avoid problem with filtering testimonials -->
        <!-- for some reasons where on Data.testimonials always returned empty map -->
        {{ if $testimonialsFocus}}
            {{ range sort $.Site.Data.testimonials "mainOrder" "desc" }}
                {{if in .focus $testimonialsFocus }}
                    {{ partial "testimonial.html" . }}
                {{end}}
            {{end}}
            {{ range sort $.Site.Data.testimonials "mainOrder" "desc" }}
                {{if not (in .focus $testimonialsFocus) }}
                    {{ partial "testimonial.html" . }}
                {{end}}
            {{end}}
        
        {{else}}
            {{ range sort $.Site.Data.testimonials "mainOrder" "desc" }}
    
            {{ partial "testimonial.html" . }}
        {{end}}
        
        {{end}}
    </div>
    <div class="owl-nav"></div>
    <div class="owl-dots"></div>
    <div class="owl-thumbs"></div>
</div>