.menu {
  background: $backgroundColor;
  border: 1px solid $borderColor;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  @media screen and (max-width: 1024px) {
    height: 48px;
  }

  &__burger {
    display: block;
    width: 25px;
    position: absolute;
    top: 17px;
    left: 10px;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background-color: $colorBlack;
      margin-bottom: 3px;
    }

    @media screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__close {
    @media screen and (min-width: 1025px) {
      display: none;
    }
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $colorBlack;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $colorWhite;
    }
  }

  &__list {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;

    @media screen and (max-width: 1024px) {
      transform: translate3d(-101%, 0, 0);
      box-shadow: 4px 0px 8px 0 rgba(0, 0, 0, 0.2);
      width: 250px;
      position: fixed;
      top: 0;
      transition: all 0.3s linear;
      min-height: 100vh;
      background-color: $colorWhite;
      padding-top: 100px;
      z-index: 99;

      &.active {
        transform: translate3d(0, 0, 0);
        z-index: 99;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 250px;
          z-index: 98;
          width: calc(100vw - 250px);
          height: 100vh;
          background-color: rgba($colorBlack, 0.4);
        }
      }
    }
  }

  &__item {
    display: inline-block;

    @media screen and (min-width: 1025px) {
      &:hover {
        ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      display: block;
      border-bottom: 1px solid rgba($colorGrayMedium, 0.6);
      margin: 0 15px;
    }
  }

  .pl > li:last-child > a > span:first-child,
  .en > li:last-child > a > span:first-child {
    background-size: contain;
    display: inline-block;
    height: 13px;
    width: 25px;
    vertical-align: middle;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
    margin-right: 5px;
  }

  .pl > li:last-child > a > span:first-child {
    background-image: url("/images/flagUsa.png");
  }

  .en > li:last-child > a > span:first-child {
    background-image: url("/images/flagPoland.png");
  }

  &__submenu {
    position: absolute;
    overflow: visible;
    visibility: hidden;
    display: block;
    list-style: none;
    opacity: 0;
    padding: 0;
    background: $backgroundColor;
    border: 1px solid $borderColor;
    z-index: 110;

    @media screen and (max-width: 1024px) {
      visibility: unset;
      position: static;
      opacity: unset;
      display: none;
      border: none;
      overflow: hidden;
    }

    &.visible {
      display: block;
    }
  }

  &__subItem {
    border-bottom: 1px solid $borderColor;
    min-width: 240px;
    max-width: 350px;

    &:last-child {
      border-bottom: 0;
    }

    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      border-bottom: 1px solid rgba($borderColor, 0.8);
      a {
        color: #555;
      }
    }
  }

  &__link {
    display: inline-block;
    font-family: $menuFont;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.09em;
    padding: 0 21px;
    line-height: 48px;
    font-weight: bold;
    font-size: $menuSize;
    transition: color 0.25s ease-in;
    vertical-align: middle;

    &:hover {
      color: $menuActiveColor;
    }

    @media screen and (max-width: 1024px) {
      display: block;
      position: relative;
      padding: 14px 0;
      line-height: 1.4;
      height: auto;
      width: calc(100% - 60px);
      padding-right: 30px;
      font-size: 13px;
      letter-spacing: 0.075em;
      outline: none;
      font-weight: 600;

      &:focus,
      &:hover {
        color: $colorBlack;
      }
    }
  }

  &__arrow {
    display: inline-block;
    box-sizing: border-box;
    height: 5px;
    width: 5px;
    border-style: solid;
    border-color: $arrowBackground;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    margin: -5px 0 0 8px;
    vertical-align: middle;

    @media screen and (min-width: 1025px) {
      i {
        display: none;
      }
    }

    @media screen and (max-width: 1024px) {
      z-index: 999;
      position: absolute;
      top: 60%;
      right: -60px;
      transform: translate(0%, -50%) rotate(0);
      width: 50px;
      height: 48px;
      border: none;
      text-align: center;
      padding: 10px;
      transition: all 0.3s linear;
      outline: none;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }

      &.active {
        transform: translate(0%, -50%) rotate(180deg);
      }
    }
  }
}
