.menu {
  background: $backgroundColor;
  border: 1px solid $borderColor;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  &__list {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;

    &:hover {
      ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .pl > li:last-child > a > span:first-child,
  .en > li:last-child > a > span:first-child {
    background-size: contain;
    display: inline-block;
    height: 13px;
    width: 25px;
    vertical-align: middle;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);
    margin-right: 5px;
  }

  .pl > li:last-child > a > span:first-child {
    background-image: url('/images/flagUsa.png');
  }

  .en > li:last-child > a > span:first-child {
    background-image: url('/images/flagPoland.png');
  }

  &__submenu {
    position: absolute;
    overflow: visible;
    visibility: hidden;
    display: block;
    list-style: none;
    opacity: 0;
    padding: 0;
    background: $backgroundColor;
    border: 1px solid $borderColor;
    transition: all .25s ease-in;
    z-index: 110;
  }

  &__subItem {
    border-bottom: 1px solid $borderColor;
    min-width: 240px;
    max-width: 350px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    font-family: $menuFont;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 21px;
    line-height: 48px;
    font-weight: bold;
    font-size: $menuSize;
    transition: color .25s ease-in;
    vertical-align: middle;

    &:hover {
      color: $menuActiveColor;
    }
  }
}