.summaryWithImage {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  padding: 0 15px;
  vertical-align: top;
  text-align: center;
  margin: 20px 0 40px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  img {
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    &__image{
      width: 400px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-family: $articleTitleFont;
    font-size: $articleTitleSize;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;

    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      margin-top: 12px;
      width: 36px;
      border-bottom: 1px solid $colorBlue;
    }
  }

  &__body {
    color: $articleBodyColor;
    font-size: $articleBodySize;
    line-height: 28px;
    letter-spacing: -0.025em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

  &__info {
    color: $colorGrayMedium;
    font-size: 10px;
    letter-spacing: 0.075em;
    font-family: $fontPopins;
    font-weight: bold;

    &--category {
      color: $colorBlue;
      text-transform: uppercase;
    }

    .single__categoryLink {
      display: inline;
    }
  }
}
