{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  {{ $featured_image := "" }}
  {{if .Params.images}}
    {{ $featured_image = index (.Params.images) 0  }}
  {{end}}

  <article class="single">
      <div class="center">
          <article class="single__content">
              <a class="single__categoryLink" href="{{ "/category/" | relLangURL }}{{ .Params.category | urlize }}">
              {{- .Params.category -}}
              </a>
              <h1 class="single__title">
                  {{- .Title -}} 
              </h1>
              <div class="single__date">
                  {{.Date.Format "2006-01-02"}}
              </div>

              {{ if $featured_image }}
              <img class="single__image" src="/{{$featured_image}}" alt="image from {{ .Title }}">
              {{ end }}

              <div class="single__text">
                  {{- .Content -}}
              </div>



              <div class="single__disqus">
                  {{ if .Site.DisqusShortname }}
                  {{ template "_internal/disqus.html" . }}
                  {{ end }}
                  {{ if .Site.Params.commentoEnable }}
                  {{- partial "commento.html" . -}}
                  {{ end }}
              </div>

              <div>
                  {{- partial "tags.html" . -}}
                  {{ partial "social-share.html" . }}
              </div>
          </article>
          <aside class="single__sidebar sidebar">
              {{- partial "menu-contextual.html" . -}}
          </aside>
      </div>




  </article>
{{ end }}
