{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
    {{ $featured_image := .Params.featured_image }}

  <article class="single">
      <div class="center">
          <article class="single__content">
{{$featured_image}}
              <a href="{{ "/category/" | relLangURL }}{{ .Params.category | urlize }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
              {{- .Params.category -}}
              </a>
              <h1 class="f1 athelas mt3 mb1">
                  {{- .Title -}}
              </h1>
              <time class="f6 mv4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{- .Date.Format "January 2, 2006" -}}
              </time>

              <img src="/{{$featured_image}}" class="" alt="image from {{ .Title }}">


              {{- .Content -}}


              <div class="mt6 instapaper_ignoref">
                  {{ if .Site.DisqusShortname }}
                  {{ template "_internal/disqus.html" . }}
                  {{ end }}
                  {{ if .Site.Params.commentoEnable }}
                  {{- partial "commento.html" . -}}
                  {{ end }}
              </div>

              {{ partial "social-share.html" . }}
              {{- partial "tags.html" . -}}





          </article>
          <aside class="single__sidebar sidebar">
              {{- partial "menu-contextual.html" . -}}
          </aside>
      </div>




  </article>
{{ end }}
