{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}

{{$section :=
    (where
        (where .Site.Pages "Section" "products")
            ".Params.title" "!=" nil )
}}

{{ $section_count := len $section }}

{{ $section = sort $section "Type" "desc" }}

<section>
    <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row mb-30">
            <div class="col-sm-12">
                <h2>Sklep</h2>
            </div>
        </div>
        <div class="row">

            {{ $paginator := .Paginate $section }}
            {{ range $paginator.Pages }}

            {{ $featured_image := index .Params.images 0 }}
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-posts" style="font-size: 80%; text-align: center">
                    <article class="post clearfix mb-15 pb-15">
                        <div class="entry-header">
                            <div class="post-thumb thumb" style="display: flex; align-items: center; justify-content: center; height: 250px">
                                <a href="{{.RelPermalink}}">
                                    <img src="{{.RelPermalink}}{{ $featured_image }}"  alt="image from {{ .Title }}"
                                         class="img-responsive " style="max-height: 250px; width: auto;">
                                </a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <span class="mb-0 text-gray-darkgray  mr-20 font-size-16">
                                {{ .Params.ProductType }}
                            </span>
                            <h5 class="entry-title" style="display: flex; align-items: center; justify-content: center; height: 81px">
                                <a href="{{.RelPermalink}}">{{ .Title }}</a>
                            </h5>
                            <p class="mb-10 font-size-18">
                                {{.Params.price}}zł (netto)
                            </p>

                            <a href="https://radekmaziarkapl-prod.azurewebsites.net/api/CreateCheckout/{{ .Params.code }}" class="btn btn-xs btn-theme-colored2">Kup produkt ➞</a>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>
            </div>
            {{ end }}


            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</section>
{{ end }}