{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}
{{ $featured_image := "" }}
{{if .Params.images}}
{{ $featured_image = index .Params.images 0 }}
{{end}}


<section>
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">

      <div class="col-sm-12">

        <img src="{{$featured_image}}" alt="image from {{ .Title }}">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Czas trwania:</th>
              <td>{{ .Params.duration }}</td>
            </tr>
            <tr>
              <th scope="row">Grupa docelowa:</th>
              <td>{{ .Params.targetGroup }}</td>
            </tr>
            <tr>
              <th scope="row">Forma:</th>
              <td>{{ .Params.form }}</td>
            </tr>
            <tr>
              <th scope="row">Miejsce warsztatu:</th>
              <td>{{ .Params.trainingPlace }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-sm-12">
        {{ .Content }}

        <p>Jeśli interesowałby Cię ten warsztat <a href="/kontakt"><b>skontaktuj się ze mną</b></a>. Przeczytaj również
          <a href="/szkolenia-i-warsztaty/#rekomendacje">rekomendacje</a>.
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Wiedza uzyskiwana na warsztacie:</h3>
        <ul>
          {{range .Params.knowledgeToObtain}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Program warsztatów:</h3>
        Program opisany poniżej jest propozycją - do każdego szkolenia ustalamy dedykowany program na podstawie twoich
        potrzeb.
        <ul>
            {{range .Params.trainingPlan}}  
              {{if reflect.IsSlice .}}       
                <li>{{index . 0}}
                  <ul>
                    {{range after 1 .}}  
                      <li>{{.}}</li>
                    {{end}}
                  </ul>
                </li>
              {{else}}
                <li>{{.}}</li>
              {{end}}
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</section>
{{end}}