{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}
{{ $featured_image := "" }}
{{if .Params.images}}
  {{ $featured_image = index .Params.images 0  }}
{{end}}

  <div class="single">
    <div class="center">
      <article class="">
        <header>
          <h1 class="single__title">
            {{ .Title }}
          </h1>

          {{ if $featured_image }}
          <img class="single__image" src="/{{$featured_image}}" alt="image from {{ .Title }}">
          {{ end }}
        </header>
        <div class="single__text">
          {{ .Content }}
        </div>
      </article>
    </div>

  </div>
{{ end }}
