<div class="col-md-6 col-lg-6 col-xl-4">
    <a href="{{.Params.url}}">
        <div class="tm-sc-service service-item-current-style2  bg-white-f7 pt-10">
            <div class="service-thumb equal-size">
                <img class="" src="{{index .Params.images 0}}" alt="5.jpg">
            </div>
            <div class="service-content equal-size">
                <div class="service-header">
                    <h4 class="title service-title">{{.Params.title}}</h4>
                </div>
                <div class="service-description">
                    <p style="color: #092a49">{{.Params.promoText}}</p>
                </div>
            </div>
        </div>
    </a>
</div>