
<div class="sidebar sidebar-left mt-sm-30">
  <div class="widget widget_categories">
    <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Newsletter</h4>
    <p style="margin-bottom: 0">Dołącz do <a href="/newsletter">newslettera</a> i odbierz 20% rabat na poradnik <br/> "Jak zacząć ze zdalnym Event Stormingiem"</p>
    <a href="/newsletter"><img src="/sklep/ebook-event-storming/main.jpg"/></a>
    <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1 mt-20">Kategorie</h4>
    <ul>

      {{ range $key, $value := .Site.Taxonomies.category }}
        {{ if ge (len $value) 5}}
        <li class="cat-item"><a href="/category/{{ $key | urlize  }}">{{ (index $value.Pages 0).Params.category }}</a> ({{ len $value }})</li>
        {{ end }}
      {{ end}}
    </ul>
  </div>
 <!-- <div class="widget widget_tag_cloud">
    <h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">Szkolenia i warsztaty</h4>
    <a href="/szkolenia-i-warsztaty/event-storming/">
      <h5 class="sidebar__element">Event Storming</h5>
      <img src="/images/2018/05/eventstorming.logo_.png">
    </a>
      <a href="/szkolenia-i-warsztaty/wzorce-architektoniczne/">
        <h5 class="sidebar__element">Wzorce architektoniczne</h5>
        <img src="/images/2019/09/Wzorce-Architektoniczne.jpg">
      </a>
      <a href="/szkolenia-i-warsztaty/ddd-i-mikroserwisy/">
        <h5 class="sidebar__element">DDD i mikroserwisy</h5>
        <img src="/images/2019/09/Mikroserwisy.jpg">
      </a>
      <a href="/szkolenia-i-warsztaty">
        <h5 class="sidebar__element sidebar__element&#45;&#45;more">Pozostałe</h5>
      </a>
  </div>-->
</div>