{{ if eq .Site.Language.Lang "pl" }}
<aside>
  <h5 class="sidebar__title"><span>Szkolenia i warsztaty</span></h5>
  <a href="/szkolenia/event-storming/">
    <h6 class="sidebar__element">Event Storming</h6>
    <img src="/images/2018/05/eventstorming.logo_.png">
  </a>
    <a href="/szkolenia/wzorce-architektoniczne/">
      <h6 class="sidebar__element">Wzorce architektoniczne</h6>
      <img src="/images/2019/09/Wzorce-Architektoniczne.jpg">
    </a>
    <a href="/szkolenia/ddd-i-mikroserwisy/">
      <h6 class="sidebar__element">DDD i mikroserwisy</h6>
      <img src="/images/2019/09/Mikroserwisy.jpg">
    </a>
    <a href="/szkolenia">
      <h6 class="sidebar__element sidebar__element--more">Pozostałe</h6>
    </a>
</aside>

{{ else }}
{{ end }}