
<nav id="top-primary-nav" class="menuzord theme-color1 menuzord-responsive" data-effect="fade" data-animation="none" data-align="right"><a href="javascript:void(0)"><em></em><em></em><em></em></a>
  <ul id="main-nav" class="menuzord-menu menuzord-right menuzord-indented" style="max-height: 100%;">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
      <a href="{{ .URL }}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
        <span class="indicator"><i class="fa fa-angle-down"></i></span>
      </a>
      <ul class="dropdown" style="right: auto; display: none;">
        
        {{ range .Children }}
        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ else }}
    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
    {{ end }}
    {{ end }}
</nav>