<!-- <header class="header">
    {{ partial "site-navigation.html" . }}
    
    {{ $url := "/" }}
    {{ $language := printf "%s" .Site.Language }}
    {{ if eq $language "en" }}
        {{ $url = "/en" }}
    {{ end }}

    <div class="header__title">
        <a href="{{ $url }}">
            <h1>{{ default .Site.Title }}</h1>
            <div class="header__subheading">Think. Plan. Execute. Repeat.</div>
        </a>
    </div>
</header> -->
<header id="header" class="header header-layout-type-header-2rows">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-auto header-top-left align-self-center text-center text-xl-start">
              Radek Maziarka Logo
          </div>
          <div class="col-xl-auto ms-xl-auto header-top-right align-self-center text-center text-xl-end">
            <div class="element pt-0 pt-lg-10 pb-0">
              <a href="/konsultacje" class="btn btn-theme-colored2 btn-sm ajaxload-popup">Umów konsultacje</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav tm-enable-navbar-hide-on-scroll">
      <div class="header-nav-wrapper navbar-scrolltofixed" style="z-index: auto; position: static; top: 0px;">
        <div class="menuzord-container header-nav-container">
          <div class="container position-relative">
            <div class="row header-nav-col-row">
              <div class="col-sm-auto ms-auto pr-0 align-self-center">
                {{ partial "site-navigation.html" . }}
              </div>
              <div class="col-sm-auto align-self-center nav-side-icon-parent">
                <ul class="list-inline nav-side-icon-list">
                  <li class="hidden-mobile-mode"><a href="#" id="top-nav-search-btn"><i class="search-icon fa fa-search"></i></a></li>
                </ul>
                <div id="top-nav-search-form" class="clearfix">
                  <form action="#" method="GET">
                    <input type="text" name="s" value="" placeholder="Type and Press Enter..." autocomplete="off">
                  </form>
                  <a href="#" id="close-search-btn"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="row d-block d-xl-none">
               <div class="col-12">
                <nav id="top-primary-nav-clone" class="menuzord d-block d-xl-none default menuzord-color-default menuzord-border-boxed menuzord-responsive" data-effect="slide" data-animation="none" data-align="right" style=""><a href="javascript:void(0)" class="showhide"><em></em><em></em><em></em></a>
                 <ul id="main-nav-clone" class="menuzord-menu menuzord-right menuzord-indented scrollable" style="max-height: 100%;">
                 <ul id="main-nav" class="menuzord-menu menuzord-right menuzord-indented scrollable" style="max-height: 100%;">
                    <li class="active">
                      <a href="#">Home<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                      <ul class="dropdown" style="right: auto;">
                        <li><a href="index-mp-layout1.html">index Multipage Layout1</a></li>
                        <li><a href="index-mp-layout2.html">index Multipage Layout2</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Pages<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                      <ul class="dropdown" style="right: auto;">
                        <li><a href="page-about.html">About</a></li>
                        <li><a href="page-team-grid.html">Team Grid</a></li>
                        <li><a href="page-team-details.html">Team Details</a></li>
                        <li><a href="page-testimonial.html">Testimonial</a>
                        </li><li><a href="shop-products-sidebar.html">Shop</a>
                        </li><li><a href="page-404.html">404</a>
                      </li></ul>
                    </li>
                    <li><a href="#">Services<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                      <ul class="dropdown" style="right: auto;">
                        <li><a href="page-services1.html">Services Grid</a></li>
                        <li><a href="page-service-details.html">Service Details</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Blog<span class="indicator"><i class="fa fa-angle-down"></i></span></a>
                      <ul class="dropdown" style="right: 0px;">
                        <li><a href="news-grid.html">News Grid</a></li>
                        <li><a href="news-details.html">News Details</a></li>
                      </ul>
                    </li>
                    <li><a href="page-contact.html">Contact</a></li>
                  <li class="scrollable-fix"></li></ul><li class="scrollable-fix"></li></ul>
                </nav>
               </div>
            </div>
          </div>
        </div>
      </div><div style="display: none; width: 1903px; height: 100px; float: none;"></div>
    </div>
  </header>