<nav class="menu" role="navigation">
  <div class="wrap">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
              <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                  <a href="{{ .URL }}">
                      {{ .Pre }}
                      <span>{{ .Name }}</span>
                  </a>
              </li>
              <ul class="sub-menu">
                  {{ range .Children }}
                      <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                          <a href="{{ .URL }}">{{ .Name }}</a>
                      </li>
                  {{ end }}
              </ul>
          {{ else }}
              <li>
                  <a href="{{ .URL }}">
                      {{ .Pre }}
                      <span>{{ .Name }}</span>
                  </a>
              </li>
          {{ end }}
      {{ end }}
  </ul>
  </div>
</nav>

<style>
.menu{
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000 !important;
  background: #fff;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 4px 0 #eee;
  height: 48px;
  font-family: Poppins, Arial, sans-serif;
  line-height: 48px;
  box-sizing: border-box;

  float: left;
    text-align: center;
    color: #161616;
    font-family: Poppins, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
}

.menu .wrap{
  width: 1170px;
    margin: 0 auto;
    text-align: left;
}

.menu ul{
  list-style: none;
  position: relative;
}

.menu ul li{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.menu .sub-menu{
  position: absolute;
  overflow: visible;
  visibility: hidden;
  display: block;
  opacity: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #ebebeb;
  transition: all .25s ease-in;
  z-index: 110;
  line-height: 1.8666;
}

</style>