{{ $featured_image := .Params.featured_image }}
<article class="summaryWithImage">
  <div class="">
    <div class="">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}

        <div class="">
          <a href="{{.Permalink}}" class="">
            <img src="{{ $featured_image }}" class="" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="summaryWithImage__info">
          <span class="summaryWithImage__info--category">
            {{ .Params.category }}
          </span>
          <span class="summaryWithImage__info--date">
            - {{.Date.Format "2006-01-02"}}
          </span>
      </div>
        <h2 class="summaryWithImage__title">
          <a href="{{.Permalink}}" class="">
            {{ .Title }}
            </a>
        </h2>
        <div class="summaryWithImage__body">
          {{ .Summary }}
        </div>
          <a href="{{.Permalink}}" class="">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
        {{/* TODO: add author
        <p class="">By {{ .Author }}</p> */}}
    </div>
  </div>
</article>
