<div class="owl-item">
    <div class="tm-carousel-item">
        <div class="tm-testimonial">
            <div class="testimonial-inner">
                <div class="testimonial-author-details">
                    <div class="testimonial-header">
                        <div class="author-text">{{.content}}</div>
                    </div>
                    <div class="testimonial-footer mt-30">
                        <div class="testimonial-image-holder">
                            <div class="author-thumb"> <img width="75" height="75" src="{{.image}}"
                                                            class="img-fullwidth rounded-circle wp-post-image" alt="images"></div>
                        </div>
                        <a style="cursor:pointer" href="{{.url}}">
                            <div class="author-info">
                                <h5 class="name">{{.name}}</h5>
                                <span class="job-position">{{.position}}</span>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>